<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="Clock.Reminder"
          android:versionCode="2"
          android:versionName="2.0"
          android:installLocation="internalOnly" >
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
    <application android:icon="@drawable/fuzzylife" android:label="@string/app_name" >
 
        <receiver  android:process=":remote" android:name=".HourlyReminder"></receiver>
 
        <receiver android:name=".TickerBoot" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
 
        <service android:name="Check">
            <intent-filter>
                <action android:name=".Check">
                </action>
            </intent-filter>
        </service>
        
    </application>
    
</manifest> 

<!-- @author sharma.animesh@gmail.com mashed up from following -->
<!-- http://android.programmerguru.com/android-vibrate-example/  -->
<!-- http://stackoverflow.com/questions/4459058/alarm-manager-example -->